/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    min-height: 100px;

    display: flex;
    align-items: center;
    padding: 12px 6%;

    border-bottom: 2px solid rgb(22, 139, 210);
    background-color: rgb(7, 22, 65);

    position: sticky;
    top: 0;
    z-index: 1;
}

/* Logo */
#logo {
    display: flex;
    align-items: center;
}

#logo > img {
    width: 300px;
}

/* Menu */
#menus {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 2rem;
}

#menus a {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 12px 18px;

    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgb(21, 42, 97);
    border: 2px solid white;
    border-radius: 30px;

    transition: transform 0.25s ease;
}

#menus a#ativo {
    background-color: green;
}

#menus a:hover {
    transform: translateY(-2px);
    filter: brightness(1.2);
}

/* FOOTER */

footer {
    min-height: 200px;
    padding: 10px 10px;
    border-top: 2px solid rgb(22, 139, 210);
    background-color: rgb(7, 22, 65);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
}

/* Textos do footer */

#informacoes {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.footer_secao {
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

.footer_secao:hover{
    transform: scale(1.01);
}

/* Redes sociais */

#redes_contato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}

#redes_contato > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#redes_contato > a > img {
    object-fit: contain;
    width: 4rem;
    border-radius: 30%;
}

#youtube {
    border-radius: 0 !important;
}

#redes_contato > a:hover {
    transform: scale(1.03);
    cursor: pointer;
}

/* RESPONSIVIDADE */
@media (width < 850px){
    #logo {
        display: none;
    }
    #menus {
        width: 100%;
        gap: 1rem;
        margin: 0;
        justify-content: space-evenly;
    }
}

@media (width < 500px){
    #menus {
        gap: 0.5rem;
    }
    #menus a {
        font-size: 16px;
    }
}

@media (width < 400px){
    #menus {
        gap: 0.3rem;
    }
    #menus a {
        padding: 10px 16px;
    }
    #menus a p {
        display: none;
    }
    #menus a {
        font-size: 20px;
    }
}

@media (width < 350px){
    header {
        min-height: 80px;
        padding: 8px 4px;
    }
}

@media (width < 800px) {
    #informacoes {
        gap: 1.5rem;
    }

    .footer_secao {
        font-size: 1.6rem;
    }

    #redes_contato {
        gap: 4.5rem;
    }

    #redes_contato > a > img {
        width: 3.5rem;
    }
}

@media (width < 700px) {
    #informacoes {
        gap: 1.4rem;
    }

    .footer_secao {
        font-size: 1.35rem;
    }

    #redes_contato > a > img {
        width: 3rem;
    }
}

@media (width < 600px) {
    #informacoes {
        gap: 1.2rem;
    }

    .footer_secao {
        font-size: 1.2rem;
    }

    #redes_contato {
        gap: 4rem;
    }
    
    #redes_contato > a > img {
        width: 2.7rem;
    }
}

@media (width < 500px) {
    #redes_contato {
        gap: 3rem;
    }
}

@media (width < 440px) {
    #redes_contato {
        gap: 2.5rem;
    }

}

@media (width < 360px) {
    #redes_contato {
        gap: 2rem;
    }
}

@media (width < 300px) {
    #informacoes {
        flex-direction: column;
    }
    #redes_contato {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}