/* PÁGINA DE EDIÇÃO DE PRODUTOS */

.main-edicao {
    overflow-x: scroll;
}

#tabela-produtos {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

#tabela-produtos td, #tabela-produtos th {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}

/* PÁGINA DE EDIÇÃO OU ALTERAÇÃO DE PRODUTOS */

form {
    width: 80%;
    margin: 0 auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 25px;
    border-radius: 12px;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;

    border: 1px solid rgb(207, 190, 190);
    border-radius: 7px;

    font-size: 1rem;
}

button {
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--middle-color-2);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.9);
}

.a-form {
    display: flex;
    width: fit-content;
    margin: 2rem auto 0;

    padding: 8px;
    border-radius: 10px;
    color: white;
    background-color: var(--middle-color-2);
}
