/* Main */

main {
    margin-top: 0;
}

/* Section principal */

#hero-section {
    height: 88dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: relative;
}
#hero-section > img {
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    filter:brightness(.9) sepia(.5);
}
#hero-buttons {
    padding: 5vh 0;
    display:flex;
    gap: 3vw;
}
#hero-buttons a {
    background-color: white;
    color:var(--middle-color-1);

    text-align: center;
    font-size: var(--medium-text-size);

    padding: 0.4em;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0,0,0,.5);

    transition: 0.2s ease-out;
}
#hero-buttons a:hover {
    transform: translateY(-5px) scale(1.02);
    
    color: white;
    background: var(--middle-color-1);
    
    box-shadow: 0px 10px 5px rgba(0,0,0,.5);
}

.hero-title, .hero-subtitle {
    font-family: 'SlimeFont';
    color: white;
    -webkit-text-stroke: clamp(5px, 0.7vw, 10px) black;
    paint-order: stroke fill;
    text-align: center;
}

.hero-title {
    font-size: var(--title-font-size);
}

.hero-subtitle {
    font-size: var(--big-text-size);
    text-wrap: balance;
}

/* Sections de navegação no site */

.site-navigation {
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--smaller-color);
    color: black;
    transition: 0.2s ease-out;
}

.site-navigation > img {
    height: 100%;
    width:100%;
    object-fit: cover;
}

.site-navigation > div {
    padding:1rem;
    font-size: var(--normal-text-size);
}

.site-navigation > div p {
    text-align: justify;
}

.site-navigation:hover {
    transform: scale(1.05);
}

/* SLIDESHOW */

/* Slideshow container */
#slideshow-container {
    max-width: 80vw;
    position: relative;
    margin: auto;
    border-top: 3px solid var(--middle-color-1);
    border-bottom: 3px solid var(--middle-color-1);
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


/* As bolas/indicadoras */
.dot {
    height: 16px;
    width: 16px;
    margin: 0 2px;
    background-color: color-mix(in srgb, var(--middle-color-2) 40%, transparent);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease-out;
    cursor: pointer;
}

.active {
    background-color: var(--middle-color-1);
}

#other-pages {
    padding: 3rem;
    padding-bottom: 0;
    gap: 2rem;
    display: grid;
}


@media (width < 1200px) {
    #slideshow-container {
        max-width: 90vw;
    }
}

@media (width < 800px) {
    #slideshow-container {
        max-width: 95vw;
    }
}

@media (width >= 1170px) {
    #other-pages {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .site-navigation {
        width: 20vw;
        display:flex;
        flex-direction: column;
        align-items: start;
        gap: 0.3em;
    }

    .site-navigation > img {
        object-fit: contain;
        height: auto;
    }
}

@media (width < 1170px) {
    #other-pages {
        grid-template-columns: 1fr 1fr;
    }
    .site-navigation {
        width: 100%;
        display:grid;
        grid-template-areas: "img" "txt";
    }
    .site-navigation > img {
        grid-area: img;
    }
    .site-navigation > div {
        grid-area: txt;
    }
}

@media (width < 800px) {
    #other-pages {
        grid-template-columns: 1fr;
    }
}