/*
---------------------------------
GERAL
--------------------------------- 
*/

.title {
    font-size: var(--big-text-size);
    text-align: center;
    color: var(--bigger-color);
}

.subtitle {
    font-size: var(--normal-text-size);
    text-align: center;
    color: var(--middle-color-2);
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    text-wrap: balance;
    width: 97%;
}

main {
    padding-top: 0.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
---------------------------------
CONTATO
--------------------------------- 
*/

#form-contato {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-contato fieldset {
    width: 75%;
    max-width: 750px;
    min-width: 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2rem;

    background-color: var(--smaller-color);

    border: 3px solid var(--middle-color-2);
    border-radius: 10px;
}

#form-contato label {
    font-size: clamp(1.2rem, 3vw, 1.6rem);

    margin-bottom: 0.6rem;
    padding-left: 2px;
}

#form-contato input, #form-contato textarea {
    width: 100%;

    padding: 0.4rem 0.5rem;

    border: 0;
    border-radius: 5px;

    background-color: rgb(255, 255, 255);
    font-size: clamp(1rem, 2vw, 1.15rem);
    margin-bottom: 1.2rem;
}

#form-contato textarea {
    min-height: 5rem;
    resize: none;
    margin-bottom: 2.5rem;
}

#form-contato button {
    padding: 0.5rem 1.5rem;

    border: 0;
    border-radius: 10px;

    font-size: clamp(1.2rem, 3vw, 1.6rem);
    font-weight: bold;

    background: linear-gradient(var(--middle-color-1), rgb(96, 155, 1));

    color: white;

    cursor: pointer;
    transition: 0.2s ease-out;
}

#form-contato button:hover {
    transform: translateY(-2px);
    filter: brightness(1.05);
}

/* Responsividade */

@media (width < 800px) {
    #form-contato fieldset {
        width: 90%;
        padding: 1.2rem;
    }
}

@media (width < 580px) {
    #form-contato fieldset {
        width: 85%;
        padding: 1.2rem;
    }
}

@media (width < 480px) {
    #form-contato fieldset {
        width: 95%;
        padding: 0.8rem;
    }

    #form-contato input, #form-contato textarea {
        max-width: 95%;
        margin-bottom: 1rem;
    }

    #form-contato textarea {
        margin-bottom: 2rem;
    }
}

/*
-----------------------------------------
DESENVOLVEDORES
----------------------------------------- 
*/

#devs{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 3rem;
    gap:1rem;

}
#devs > div {
    width: 400px;
    height: 100%;
    background-color: var(--smaller-color);
}

#devs > div > img {
    width: 100%;
}
#devs > div > div {
    padding: 3rem;
}
#devs > div > div > ul {
    list-style: none;
    font-size: var(--medium-text-size);
}
#devs ul > li {
    padding: .3rem;
}
#devs p {
    font-size: var(--medium-text-size);
}

/* 
--------------------------
MISSÃO VISÃO E VALORES
-------------------------- 
*/

#principles {
    display: flex;
    flex-direction: row;
    align-items: start;
    align-content: center;
    justify-content: center;
}
#principles div {
    width: 20%;
    text-align: justify;
    padding: 2rem;

    background-color: var(--smaller-color);

    transition: 0.2s ease-out;
}
#principles p {
    font-size: var(--normal-text-size);
}

#principles div:hover {
    transform: translateY(-10px);
    scale: 1.1;
}