:root {
    --dark-bg-color: rgb(27 33 26);
    --green-bg-color: rgb(98 129 65);
    --light-bg-color: rgb(235 213 171);

    /* --dark-bg-color: rgb(26 49 44);
    --green-bg-color: rgb(66 132 117);
    --light-bg-color: rgb(255 244 225); */

    /* --dark-bg-color: #181C14;
    --green-bg-color: #697565;
    --light-bg-color: #ECDFCC; */

    /* --dark-bg-color: #1A3636;
    --green-bg-color: #40534C;
    --light-bg-color: #D6BD98; */

    /* --dark-bg-color: #283739;
    --green-bg-color: #2C5D63;
    --light-bg-color: #F7EEBB; */

}
