:root {
    --bigger-color: #283739;
    --middle-color-1: #A9C52F;
    --middle-color-2: #2C5D63;
    --smaller-color: #F7EEBB;

     --normal-text-size: clamp(12px, 4vw, 20px);
     --medium-text-size: clamp(15px, 5vw, 30px);
    --title-font-size: clamp(50px,16vw,200px);
}
